<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>
<h1>home page</h1>
<form th:action="@{/testRequestBody}" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="测试@RequestBody注解">
</form>
<form th:action="@{/testRequestEntity}" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="测试RequestEntity类型">
</form>
<a th:href="@{/testResponse}">通过servletAPI的response对象响应浏览器数据</a><br>
<a th:href="@{/testResponseBody}">通过@ResponseBody注解响应浏览器数据</a><br>
<a th:href="@{/testResponseUser}">通过@ResponseBody注解响应浏览器User对象数据</a><br>
<div id="app">
    <a @click="testAxios" th:href="@{/testAxios}">SpringMVC测试ajax</a><!--ajax就是在页面不发生跳转的情况下，服务器和客户端发生的交互-->
</div>
<script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
<script type="text/javascript">
    new Vue({
        el:"#app",
        methods:{
            testAxios:function (event) {
                axios({
                    method:"post",
                    url:event.target.href,
                    params:{
                        username:"admin",
                        password:"123456",
                    }
                }).then(function (response){
                    alert(response.data);
                });
                event.preventDefault();//取消超链接的默认行为
            }
        }
    });
</script>
</body>
</html>